In [5]:
import requests
import re
from html.parser import HTMLParser
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from tqdm import tqdm
import time

In [12]:
name_l = []
id_l = []

for i in tqdm(range(50,1000,50)):
    time.sleep(2)
    response = requests.get(f'https://store.steampowered.com/search/results/?query&start={i}&count=50&dynamic_data=&force_infinite=1&category1=998&snr=1_7_7_230_7&infinite=13')
    data = response.json()
    data = data['results_html']
    soup = BeautifulSoup(data, 'html.parser')
    
    l = soup.find_all('span', class_='title')
    for i in l:
        name_l.append(i.text)
    
    id = soup.select('a.search_result_row.ds_collapse_flag')
    for i in id:
        id_l.append(i.get('data-ds-appid'))

100%|██████████████████████████████████████████████████████████████████████████████████| 19/19 [00:46<00:00,  2.47s/it]

In [13]:
len(name_l), len(id_l)

(950, 950)

In [16]:
data =pd.DataFrame(zip(name_l, id_l), columns = ['game_name', 'game_id'])
data

                                      game_name  game_id
0                     Assassin's Creed® Odyssey   812140
1                                Sniper Elite 5  1029690
2                                Sea of Thieves  1172620
3                                 Battlefield V  1238810
4                                        Peglin  1296610
..                                          ...      ...
945                              Battlefield 3™  1238820
946                         Hidden Through Time   524910
947  The Legend of Heroes: Trails in the Sky SC   251290
948                          One Step From Eden   960690
949                                  Spelunky 2   418530

[950 rows x 2 columns]

In [17]:
data.to_csv("게임_리스트_수집_950.csv", encoding='utf-8-sig')