In [122]:
import requests
import re
from html.parser import HTMLParser
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from tqdm import tqdm
import time

In [184]:
name_l = []
id_l = []

for i in tqdm(range(50,10000,50)):
    time.sleep(2)
    response = requests.get(f'https://store.steampowered.com/search/results/?query&start={i}&count=50&dynamic_data=&force_infinite=1&category1=998&snr=1_7_7_230_7&infinite=13')
    data = response.json()
    data = data['results_html']
    soup = BeautifulSoup(data, 'html.parser')
    
    l = soup.find_all('span', class_='title')
    for i in l:
      name_l.append(i.text)
    
    id = soup.select('a.search_result_row.ds_collapse_flag')
    for i in id:
      id_l.append(i.get('data-ds-appid'))

100%|████████████████████████████████████████████████████████████| 199/199 [08:17<00:00,  2.50s/it]

In [282]:
len(name_l), len(id_l)

(9950, 9950)

In [283]:
data = pd.DataFrame(zip(name_l, id_l), columns = ['game_name', 'game_id'])
data

                                    game_name  game_id
0                   Assassin's Creed® Odyssey   812140
1                               Battlefield V  1238810
2                              Sea of Thieves  1172620
3                                      Peglin  1296610
4         DEAD OR ALIVE Xtreme Venus Vacation   958260
...                                       ...      ...
9945               Rescue Team: Planet Savers  1450050
9946  Nancy Drew®: Secret of the Scarlet Hand    31890
9947                                  ICED VR   832420
9948                                     S-IN  1484130
9949  My Little Prince - a jigsaw puzzle tale  1399660

[9950 rows x 2 columns]

In [284]:
data['game_name'].nunique(), data['game_id'].nunique()

(9843, 9838)

In [285]:
data = data.drop_duplicates('game_name')
data = data.drop_duplicates('game_id')

data['game_name'].nunique(), data['game_id'].nunique()

(9836, 9836)

In [286]:
data.reset_index(drop = True)

                                    game_name  game_id
0                   Assassin's Creed® Odyssey   812140
1                               Battlefield V  1238810
2                              Sea of Thieves  1172620
3                                      Peglin  1296610
4         DEAD OR ALIVE Xtreme Venus Vacation   958260
...                                       ...      ...
9831               Rescue Team: Planet Savers  1450050
9832  Nancy Drew®: Secret of the Scarlet Hand    31890
9833                                  ICED VR   832420
9834                                     S-IN  1484130
9835  My Little Prince - a jigsaw puzzle tale  1399660

[9836 rows x 2 columns]

In [287]:
data.isna().sum()

game_name    0
game_id      0
dtype: int64

In [271]:
data['game_id']

0        812140
1       1238810
2       1172620
3       1296610
4        958260
         ...
9945    1450050
9946      31890
9947     832420
9948    1484130
9949    1399660
Name: game_id, Length: 9836, dtype: object

In [289]:
data[data['game_id'].str.contains(',')]

,game_name,game_id
520,Dying Light Enhanced Edition,"239140,335810,325724,435111,325723,347090"
631,Assassin's Creed Revelations - Gold Edition,"201870,201881,201882,201877"
692,Fallout 4: Game of the Year Edition,"377160,435870,435880,435881,480630,480631,490650"
946,Romance of the Three Kingdoms XIII Fame and St...,"363150,506800"
985,METAL GEAR SOLID V: The Definitive Experience,"287700,406540,406560,406580,406590,406600,4066..."
1170,Kingdom Come: Deliverance Royal Edition,"379430,768530,836900,883150,921950,977420,1033890"
1531,Total War: NAPOLEON - Definitive Edition,"34030,34178,34179,38185,34174"
1693,DYNASTY WARRIORS 9 Complete Edition,"730310,776530,798860,798880,892390,892391,8923..."
2210,The Elder Scrolls V: Skyrim Anniversary Edition,"489830,1746860"
2257,The Witcher 3: Wild Hunt - Game of the Year Ed...,"292030,378649,378648"
2707,ROMANCE OF THE THREE KINGDOMS XIV: Diplomacy a...,"872410,1427650"
2857,Mortal Kombat 11 Ultimate,"976310,1054480,1273971,1449880"
3117,Total War: MEDIEVAL II - Definitive Edition,"4700,4780"
3235,"Warhammer 40,000: Dawn of War II - Master Coll...","15620,20570,56400"
4437,Call to Arms - Basic Edition,"302670,487170"
4572,COH 2 - The Western Front Armies (Double Pack),"287371,287370"
4750,Sniper Ghost Warrior 3 Season Pass Edition,"368070,495950,575290,495951,575291,575301,575300"
5171,NukGames Pack,"438480,451160,539720,562360,636150"
5519,The Daedalic Armageddon Bundle,"214340,220740,241910,268540,203830,105000,2432..."
5598,Oblivion Game of the Year Deluxe,"22330,22330"
6783,"Warhammer 40,000: Dawn of War - Master Collection","4570,4580,9310,9450"
6790,DARK SOULS III Deluxe Edition,"374320,442010"
7539,Daedalic - Gigantic Bundle,"327220,314810,339190,249650,314830,382140,2601..."
8440,Total War: Empire - Definitive Edition,"10500,10600,10604,10606,10607,10608"
8468,Borderlands 2 Game of the Year,"49520,207870,208690,213210,213230,213250,21378..."
8493,Sniper Ghost Warrior Gold Edition,"34830,34841,34842"
8567,Dishonored - Definitive Edition,"205100,208570,208575,212893,212894"
8847,Batman: Arkham Collection,"35140,200260,208650,367480"
8900,RESIDENT EVIL 2 / BIOHAZARD RE:2 Deluxe Edition,"883710,920560,920561,920562,920563,920564,9205..."
9340,Wolfenstein: The Two Pack,"201810,350080"
9579,FEAR Complete Pack,"16450,21100,16465,21090,21120,21110"
9699,Fallout Classic Collection,"38400,38420,38410"
9724,Dungeon Defenders Ultimate Collection,"65800,202520,202521,202524,203700,203701,20370..."
9727,The Evil Within Bundle,"268050,354710,359930,345980"
9844,Mortal Kombat XL,"307780,347880,524620"

In [290]:
data[data['game_id'].str.contains(',')].index

Int64Index([ 520,  631,  692,  946,  985, 1170, 1531, 1693, 2210, 2257, 2707,
            2857, 3117, 3235, 4437, 4572, 4750, 5171, 5519, 5598, 6783, 6790,
            7539, 8440, 8468, 8493, 8567, 8847, 8900, 9340, 9579, 9699, 9724,
            9727, 9844],
           dtype='int64')

In [294]:
data.drop(data[data['game_id'].str.contains(',')].index, inplace = True)
data.reset_index(drop = True)

                                    game_name  game_id
0                   Assassin's Creed® Odyssey   812140
1                               Battlefield V  1238810
2                              Sea of Thieves  1172620
3                                      Peglin  1296610
4         DEAD OR ALIVE Xtreme Venus Vacation   958260
...                                       ...      ...
9796               Rescue Team: Planet Savers  1450050
9797  Nancy Drew®: Secret of the Scarlet Hand    31890
9798                                  ICED VR   832420
9799                                     S-IN  1484130
9800  My Little Prince - a jigsaw puzzle tale  1399660

[9801 rows x 2 columns]

In [295]:
data.to_csv('전처리_게임리스트.csv', index=False)