In [2]:
import time
import requests
import csv
from selenium import webdriver
from bs4 import BeautifulSoup
import os
import sys
from selenium.webdriver.common.keys import Keys
import chromedriver_autoinstaller
import warnings
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('게임_리스트_수집_950.csv')
del df["Unnamed: 0"]
df = df.dropna()
df.isna().sum()#제거됨
df.columns

Index(['game_name', 'game_id'], dtype='object')

In [5]:
id_list = df.game_id.values
id_list

array(['812140', '1029690', '1172620', '1238810', '1296610', '960170',
       '1172380', '958260', '892970', '518790', '920210', '1593500',
       '453480', '977950', '1435790', '570', '394360', '779340', '250900',
       '1966900', '105600', '255710', '306130', '323190', '550', '281990',
       '1761390', '1517290', '1203220', '1384160', '242760', '761890',
       '1665460', '613100', '1721470', '1594940', '489830', '1151340',
       '251570', '1147560', '1290000', '1277400', '1621690', '427520',
       '962130', '270880', '686810', '1477590', '1635450', '1794680',
       '1250410', '1938090', '582160', '1253920', '594650', '1466860',
       '1407200', '594570', '1016920', '1091500', '1062090', '444200',
       '880940', '1142710', '292030', '1451940', '872410', '740130',
       '477160', '1190000', '674020', '1151640', '493520', '632470',
       '1630280', '275850', '367520', '767560', '646570', '1739010',
       '1145360', '1217060', '377160', '1498570', '8500', '1084600',
       '1611910', '702320', '264710', '310950', '728880', '218620',
       '774171', '457140', '1740720', '546560', '286160', '814380',
       '1293830', '361420', '16900', '620980', '1468720', '1097150',
       '287700', '502500', '269210', '1817940', '367500', '1948280',
       '526870', '1255630', '851850', '960090', '282070', '924970',
       '438100', '865360', '1703340', '813780', '1202130', '1135690',
       '527230', '393080', '236850', '1216060', '868270', '363150',
       '304390', '1371720', '485510', '1222700', '284160', '330020',
       '1092790', '223750', '552500', '1832640', '1057090', '232090',
       '666150', '601510', '976730', '719040', '1237950', '815370',
       '1488200', '703080', '1089090', '244210', '1046480', '1850570',
       '246900', '447040', '379430', '1568590', '349040', '418370',
       '588650', '766570', '4000', '898750', '860510', '1594320',
       '1222140', '1240440', '1490890', '568220', '1509960', '1338770',
       '1256670', '266410', '1672970', '559650', '673750', '513710',
       '233450', '945360', '1248130', '581320', '268910', '787480',
       '435150', '680420', '699130', '782330', '933110', '368500',
       '1274570', '311260', '1284190', '1029780', '242050', '262060',
       '440900', '374320', '794260', '848450', '1874880', '233860',
       '805550', '311210', '550650', '397540', '666140', '1621310',
       '1549970', '620', '1332010', '1972440', '952060', '1289670',
       '393380', '1368910', '1377380', '1167630', '391540', '219990',
       '1238840', '376210', '8930', '1206560', '508440', '1465360',
       '919640', '1222730', '1239080', '1291010', '1341200', '602960',
       '1129580', '1137300', '641320', '1259420', '1258080', '646910',
       '1754000', '305620', '628070', '1149460', '1238860', '774181',
       '1061090', '826630', '364360', '47890', '1286830', '244850',
       '677160', '1681970', '601050', '1335200', '1237970', '874260',
       '1525700', '268500', '107410', '220200', '555160', '493340',
       '1321450', '597180', '1404850', '1361510', '322170', '454650',
       '1071870', '753640', '883710', '1222680', '1196590', '872670',
       '1475810', '289650', '1343670', '311690', '1227890', '1745400',
       '470310', '1090630', '1533420', '48700', '1557740', '1659040',
       '1042550', '1313140', '361280', '391220', '553420', '780290',
       '460950', '824270', '997010', '366250', '552520', '1566390',
       '1124300', '1257290', '1549180', '1150690', '1113000', '1372810',
       '751780', '429050', '1096530', '476600', '868360', '629730',
       '1292630', '1383250', '386940', '219740', '1372110', '644930',
       '1054490', '524220', '637650', '1802720', '611670', '551170',
       '49520', '1369630', '1782150', '214950', '1552550', '967050',
       '1692250', '231430', '285900', '1615290', '221100', '1656780',
       '1296840', '1120320', '291550', '736260', '1235140', '1072420',
       '489630', '673950', '570940', '346010', '1388880', '211820',
       '1030840', '753420', '1217390', '894020', '1379750', '1210320',
       '240720', '1254120', '1335790', '1432050', '12210', '858820',
       '1591420', '466560', '1295510', '633230', '413420', '291480',
       '1562940', '881100', '443110', '1012880', '1016120', '814370',
       '760160', '12210', '420530', '375530', '313120', '374190',
       '1574580', '1281590', '433340', '1794960', '460930', '1455840',
       '629820', '1328670', '690510', '824550', '201870', '1094520',
       '42680', '218230', '1901370', '387990', '704850', '1914970',
       '1732190', '22380', '1361210', '238320', '392160', '230290',
       '413410', '356190', '1097350', '1424800', '837470', '1468810',
       '1491710', '911400', '243470', '253230', '424840', '314650',
       '1063730', '394510', '444090', '312660', '531510', '227940',
       '34330', '1216320', '1157390', '1099410', '1605220', '359870',
       '247080', '606150', '1062160', '999020', '742300', '667970',
       '1240210', '780310', '492720', '329050', '751440', '631510',
       '1089980', '1287840', '775500', '221040', '410340', '495420',
       '1025250', '261570', '678950', '311560', '400750', '867210',
       '1658290', '365960', '690640', '774361', '239030', '33230',
       '784080', '535930', '746850', '1194630', '745920', '400', '386360',
       '493490', '617830', '831560', '848030', '899770', '1694600',
       '933820', '412020', '1227280', '1366540', '24010', '638990',
       '298110', '384180', '468920', '653530', '1113560', '1608700',
       '843380', '1410710', '203160', '10180', '332570', '327030',
       '254700', '544750', '1072190', '1356670', '834910', '1418630',
       '1172380', '469600', '823500', '1102190', '1049410', '560130',
       '1563180', '437920', '743890', '976590', '1191630', '647830',
       '730310', '450540', '1127500', '206440', '960910', '1086940',
       '1713810', '8870', '1359980', '1173820', '1184370', '250180',
       '1579380', '359320', '1345820', '621060', '1476970', '1282730',
       '10090', '1097580', '610370', '1361000', '48190', '278080',
       '56400', '494840', '972660', '527430', '718670', '747660',
       '285330', '701160', '21690', '761830', '915810', '1348390',
       '239140,335810,325724,435111,325723,347090', '594330', '858210',
       '1222690', '1323470', '341800', '1786790', '821880', '1118200',
       '1382330', '1252600', '246620', '365590', '897450', '436150',
       '628080', '1634150', '1134570', '1457520', '3590', '1301390',
       '208650', '1121560', '363970', '1580240', '690830', '678960',
       '1250650', '787860', '1436990', '1135230', '500', '1227530',
       '838380', '1284410', '1457510', '200510', '1280930', '1106840',
       '438740', '251060', '523000', '1911390', '1210030', '516750',
       '917720', '95400', '427290', '1843940', '627690', '914800',
       '743900', '800270', '641990', '1465070', '593600', '1590320',
       '1352080', '431240', '4500', '1223870', '1307550', '1239320',
       '252530', '1354830', '1389990', '571740', '379720', '464920',
       '976310', '1295500', '204360', '982290', '996770', '893720',
       '1827180', '1918450', '475150', '292730', '750920', '953490',
       '546050', '617290', '1225330', '1119730', '1668690', '1149620',
       '1450080', '34030', '635260', '674940', '1025960', '1404210',
       '1213210', '1519350', '597170', '638970', '921570', '1544360',
       '1515950', '1922560', '405310', '690790', '17390', '1472560',
       '1161580', '1188930', '365360', '1306630', '543460', '447530',
       '418240', '995460', '657200', '352720', '1389360', '1215390',
       '1432910', '949290', '374040', '1359090',
       '377160,435870,435880,435881,480630,480631,490650', '648350',
       '1562420', '768520', '1271700', '1012790', '1169040', '453090',
       '1276790', '201870,201881,201882,201877', '1782330', '763890',
       '209650', '747200', '1140620', '1372280', '807120', '502800',
       '582550', '987840', '380600', '990630', '202970', '1267910',
       '1243830', '1358140', '1226510', '1335830', '1260520', '858810',
       '1413480', '1272160', '1682970', '550470', '1458100', '1218210',
       '673880', '1527950', '17470', '1555400', '270150', '382310',
       '609320', '688420', '1282590', '304430', '1041320', '1454160',
       '899440', '638230', '537180', '1388590', '332950', '955900',
       '4700', '864700', '846770', '764300', '42700', '1137460', '965580',
       '322500', '1612780', '895870', '325610', '1211020', '335300',
       '1127400', '378860', '15100', '39140', '1456820', '1921780',
       '885810', '1826960', '1031120', '228200', '220440', '1569090',
       '728530', '261640', '589290', '650510', '1534980', '1139980',
       '1286350', '1419160', '1203710', '1105420', '578650', '1509510',
       '362890', '1040230', '1097200', '466130', '1069660', '863550',
       '674140', '858260', '265550', '1921760', '1544020', '798460',
       '12200', '383120', '371660', '1166860', '228280', '1262240',
       '834530', '960990', '702700', '245170', '829110', '886250',
       '382140', '1904040', '1134100', '1337010', '1557780', '1088850',
       '599140', '872410,1427650,1198833', '414700', '1708520', '378760',
       '71340', '1611600', '927380', '1259980', '751630', '1859370',
       '1031500', '624270', '1088790', '1522820', '1291340', '200210',
       '541210', '1225570', '302670', '470220', '774861', '1461920',
       '1651960', '238460', '1732330', '704270', '1238060', '1514840',
       '269950', '212680', '1104330', '1018010', '1570010', '1859360',
       '916840', '1432860', '345820', '1781030', '861540', '699330',
       '1370050', '420110', '1031510', '1017900', '9900', '10150',
       '1967320', '872200', '1913490', '501300', '238090', '601430',
       '24780', '1003590', '495050', '1018800', '798490', '640820',
       '1929870', '204100', '1105670', '1139900', '493840', '1836860',
       '952860', '1918520', '694280', '1368030', '504230', '584400',
       '1203140', '1423600', '1380420', '1446650', '207610', '586200',
       '1843090', '1579020', '383150', '979690', '1412470', '1172450',
       '1123830', '1283410', '1517340', '532210', '1434950', '573090',
       '1195290', '1584090', '10', '1155980', '1689910', '1066780',
       '851100', '1066890', '1201240', '249130', '1847240', '658850',
       '939850', '7940', '494150', '913740', '656350', '636480',
       '1138850', '1305420', '1454400', '601840', '368360', '1405470',
       '203770', '1182620', '366260', '502520', '1769420', '1936230',
       '368070', '1859280', '287290', '257350', '597820', '350640',
       '311730', '368340', '260210', '525510', '287980', '1060220',
       '1237980', '1643320', '1054430', '1281630', '569480', '1076200',
       '1343620', '319510', '259680', '1547890', '1679700', '332800',
       '229480', '1227690', '427100', '1292040', '418030', '981430',
       '363150,506800', '809140', '45760', '219150', '323220', '512900',
       '1144400', '277590', '985830', '1272320', '1677740',
       '287700,406540,406560,406580,406590,406600,406610,406620,436030,436040,436050,437230,437231',
       '555950', '1128920', '221680', '1163590', '1683100', '1238820',
       '524910', '251290', '960690', '418530'], dtype=object)

In [6]:
# 크롤링
import requests
import time
def get_reviews(appid, params={'json':1}):
        url = 'https://store.steampowered.com/appreviews/'
        response = requests.get(url=url+str(appid), params=params, headers={'User-Agent': 'Mozilla/5.0'})
        return response.json()

#https://partner.steamgames.com/doc/store/getreviews 참고    
def get_n_reviews(appid, n=100):#appid는 해당게임의 상점번호
    reviews = []
    cursor = '*'
    params = {
        'json' : 1,
        'filter' : 'all',#필터 없이
        'language' : 'koreana',#한국어로된 리뷰
        'day_range' : 9223372036854775807,#전체기간의 리뷰
        'review_type' : 'all',
        # 'purchase_type' : 'all'
    }

    while n > 0:
        time.sleep(1)#2초씩 쉬면서 크롤링
        params['cursor'] = cursor.encode()
        params['num_per_page'] = min(100, n)
        n -= 100

        response = get_reviews(appid, params)
        cursor = response['cursor']
        reviews += response['reviews']

        if len(response['reviews']) < 100: break

    return reviews

In [ ]:
reviews = []
for i in id_list:
    reviews.append(get_n_reviews(i, 20))# (크롤링할 게임번호, 리뷰 갯수)

In [9]:

df2 = pd.DataFrame()

for i in range(len(reviews)):
  data = pd.DataFrame.from_dict(reviews[i])
  data['gameid'] = id_list[i]
  df2 = df2.append(data)

df2.reset_index(drop = True)

,recommendationid,author,language,review,timestamp_created,timestamp_updated,voted_up,votes_up,votes_funny,weighted_vote_score,comment_count,steam_purchase,received_for_free,written_during_early_access,gameid,timestamp_dev_responded,developer_response
0,49255781,"{'steamid': '76561198332096156', 'num_games_ow...",koreana,《Assassin's Creed® Odyssey》\n\n『게임 내적 부분』\n\n「...,1.551235e+09,1.551235e+09,True,217.0,32.0,0.919744014739990234,19.0,True,False,False,812140,NaN,NaN
1,59106609,"{'steamid': '76561198256644273', 'num_games_ow...",koreana,처음 캐릭터 고를때 여자로 하세요 남캐로 하면 수영할때 부랄 덜렁거리는거 계속 봐야함,1.575359e+09,1.575359e+09,True,117.0,160.0,0.906629264354705811,17.0,True,False,False,812140,NaN,NaN
2,54227713,"{'steamid': '76561198078511630', 'num_games_ow...",koreana,300시간 좀안되게 플레이한결과 굉장히 만족스러운 게임이었음.\n\n후반부로 갈수록...,1.563802e+09,1.563802e+09,False,158.0,17.0,0.89348602294921875,6.0,True,False,False,812140,NaN,NaN
3,45120052,"{'steamid': '76561198100058825', 'num_games_ow...",koreana,스포일러 없는 후기 및 팁 \n\n어쌔신크리드 시리즈 최초로 여캐 남캐 선택이 추가...,1.538755e+09,1.643881e+09,True,103.0,10.0,0.887289464473724365,0.0,True,False,False,812140,NaN,NaN
4,47211346,"{'steamid': '76561198002545632', 'num_games_ow...",koreana,딸기맛 우유가 그냥 딸기향 나는 첨가물이 들어간 달짝지근한 우유인것처럼\n어쌔신 크...,1.543592e+09,1.543602e+09,True,150.0,84.0,0.884254813194274902,9.0,True,False,False,812140,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15490,34743257,"{'steamid': '76561198366382348', 'num_games_ow...",koreana,nice game one love!,1.504557e+09,1.504557e+09,True,6.0,2.0,0.583333313465118408,0.0,True,False,False,10,NaN,NaN
15491,45492750,"{'steamid': '76561198223161840', 'num_games_ow...",koreana,전설의 시작,1.540776e+09,1.540776e+09,True,5.0,1.0,0.581749081611633301,0.0,True,False,False,10,NaN,NaN
15492,96297707,"{'steamid': '76561199111338301', 'num_games_ow...",koreana,카온보단 100배 나은듯,1.627140e+09,1.627140e+09,True,2.0,0.0,0.545454561710357666,0.0,True,False,False,10,NaN,NaN
15493,42392405,"{'steamid': '76561198090445278', 'num_games_ow...",koreana,추억팔이 할려했더만 서버에 사람이 없네..,1.527716e+09,1.527716e+09,True,2.0,1.0,0.545454561710357666,0.0,True,False,False,10,NaN,NaN
15494,25117106,"{'steamid': '76561198280564010', 'num_games_ow...",koreana,Always play this game,1.472061e+09,1.472061e+09,True,2.0,0.0,0.545454561710357666,0.0,True,False,False,10,NaN,NaN

In [15]:
df2 = df2[['gameid','review']]
df2

    gameid                                             review
0   812140  게임 내적 부분 게임성 마약겜 굉장히 재미있었음 게임으로서의 가치는 있음 음 미묘함...
1   812140    처음 캐릭터 고를때 여자로 하세요 남캐로 하면 수영할때 부랄 덜렁거리는거 계속 봐야함
2   812140  시간 좀안되게 플레이한결과 굉장히 만족스러운 게임이었음 후반부로 갈수록 조금 단조로...
3   812140  스포일러 없는 후기 및 팁 어쌔신크리드 시리즈 최초로 여캐 남캐 선택이 추가되었습니...
4   812140  딸기맛 우유가 그냥 딸기향 나는 첨가물이 들어간 달짝지근한 우유인것처럼 어쌔신 크리...
..     ...                                                ...
13      10  솔직히 안사도 될 작품이지만 샀다 왜 방 카운터에서 카스 주세요 하던 시절이 생각나...
14      10  아 다시 날아올라라 이여 그럴일은 없겠지만 그 시절로 돌아가고싶다 세일할때 게임 수...
16      10                                             전설의 시작
17      10                                         카온보단 배 나은듯
18      10                              추억팔이 할려했더만 서버에 사람이 없네

[14968 rows x 2 columns]

In [16]:
#전처리 ( 공백제거 따옴표 제거 특문 제거 ,최대문자설정, 좌우공백 제거)
df2['review'] = df2['review'] \
  .replace(r'[^가-힣 ]', ' ', regex=True) \
  .replace("'", '') \
  .replace(r'\s+', ' ', regex=True) \
  .str.strip() \
  .str[:255]

df2.head()

   gameid                                             review
0  812140  게임 내적 부분 게임성 마약겜 굉장히 재미있었음 게임으로서의 가치는 있음 음 미묘함...
1  812140    처음 캐릭터 고를때 여자로 하세요 남캐로 하면 수영할때 부랄 덜렁거리는거 계속 봐야함
2  812140  시간 좀안되게 플레이한결과 굉장히 만족스러운 게임이었음 후반부로 갈수록 조금 단조로...
3  812140  스포일러 없는 후기 및 팁 어쌔신크리드 시리즈 최초로 여캐 남캐 선택이 추가되었습니...
4  812140  딸기맛 우유가 그냥 딸기향 나는 첨가물이 들어간 달짝지근한 우유인것처럼 어쌔신 크리...

In [18]:
# 공백 리뷰 제거
df2 = df2[df2['review'].str.strip().astype(bool)]

len(df2) # 제거되고난뒤 리뷰 갯수

14968

In [19]:
df2.rename(columns={'gameid':'game_id'},inplace=True)
df2

   game_id                                             review
0   812140  게임 내적 부분 게임성 마약겜 굉장히 재미있었음 게임으로서의 가치는 있음 음 미묘함...
1   812140    처음 캐릭터 고를때 여자로 하세요 남캐로 하면 수영할때 부랄 덜렁거리는거 계속 봐야함
2   812140  시간 좀안되게 플레이한결과 굉장히 만족스러운 게임이었음 후반부로 갈수록 조금 단조로...
3   812140  스포일러 없는 후기 및 팁 어쌔신크리드 시리즈 최초로 여캐 남캐 선택이 추가되었습니...
4   812140  딸기맛 우유가 그냥 딸기향 나는 첨가물이 들어간 달짝지근한 우유인것처럼 어쌔신 크리...
..     ...                                                ...
13      10  솔직히 안사도 될 작품이지만 샀다 왜 방 카운터에서 카스 주세요 하던 시절이 생각나...
14      10  아 다시 날아올라라 이여 그럴일은 없겠지만 그 시절로 돌아가고싶다 세일할때 게임 수...
16      10                                             전설의 시작
17      10                                         카온보단 배 나은듯
18      10                              추억팔이 할려했더만 서버에 사람이 없네

[14968 rows x 2 columns]

In [20]:
데이터셋 = pd.merge(df,df2 ,how='outer',on = 'game_id')
데이터셋= 데이터셋[['game_name','game_id','review']]

In [21]:
데이터셋.to_csv("데이터셋1.csv", index=False)